html,
body,
.content {
  padding: 0;
  margin: 0;
}

html {
  background-image: url(../media/background_small.jpg);
  /* background-position: 100% 80%; */
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1000px) {
  html {
    background-position: 100% 80%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #101535;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #ea9191;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New';
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

div {
  display: flex;
  flex-direction: column;
}

h1,
h2,
li {
  margin-bottom: 4px;
}

h1,
h2,
h3,
li {
  padding: 4px;
  color: white;
  width: fit-content;
  background-color: #4920105c;
}

ul {
  margin-top: 12px;
  padding-inline-start: 0;
  margin-left: 10px;
}

li {
  display: inline-block;
  white-space: nowrap;
}

a {
  color: #ea9191;
}

a:hover {
  background-color: orange;
  color: darkslategray;
}

.content {
  padding-top: 20vh;
  padding-left: 20px;
}

.background {
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: -9999;
}

.background img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 100% 80%;
}

.curios {
  position: relative;
  margin-top: 40vh;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  body {
    font-size: 84%;
  }
  .content {
    padding-top: 10vh;
    padding-left: 10px;
  }

  li {
    display: block;
    margin-bottom: 4px;
  }
}
